<section>
    <img class="banner-mc" src="https://www.allstatecareer.edu/programs/business/professional-office-assistant/_jcr_content/col1/text_image_1158314722.coreimg.jpeg/1596567716707/office-administrator.jpeg" alt="">
    <div class="container">

        <div class="row my-1">
            <h2>Minhas Informações</h2>
            <div class="col-12">
                <form action="#" method="post">
                    <input class="input-contato my-1" type="text" id="name" name="name" value="Riccardo Angeolli" maxlength="15" required autocomplete>
                    <input class="input-contato my-1" type="email" id="email" name="email" value="riccardo.angeolli@gmail.com" maxlength="40" required autocomplete>

                    <input class="input-contato my-1" type="tel" id="tel" name="tel" value="(19)99999-9999" maxlength="11" required autocomplete>
                </form>
            </div>
        </div>
    </div>
</section>