<mat-toolbar>
    <mat-toolbar-row>
        <a class="" routerLink="/">
            <img class="logo-footer" src="./assets/img/logo_game_mania.png">
        </a>

        <div class="">
            <a routerLink="/" class="btn-menu">SAC</a>
            <a routerLink="/" class="btn-menu">Produtos</a>
            <a routerLink="/" class="btn-menu">Minha Conta</a>
            <a routerLink="/" class="btn-menu">Instagram</a>
            <span routerLink="/" class="btn-menu">Localização: Centro, São Paulo-SP</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>