<section>
    <div class="container">

        <div class="row jc my-1">
            <img src="https://s2.glbimg.com/djyasBUo35QSRGnUn7hZkBQp7TQ=/0x0:770x489/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2021/j/u/v9XW63QtGBxYa7KgGxkA/call-of-duty-vanguard-banner.png" alt="">
        </div>
        <h2>Jogos mais populares</h2>
        <div class="row">

            <div class="col-4">
                <img class="produto-jogo" src="https://images-americanas.b2w.io/produtos/4258574010/imagens/jogo-fifa-22-xbox-one/4258574010_1_large.jpg" alt="">
                <p>Fifa 22 para Xbox one </p>
                <h2>R$ 299,99</h2>
            </div>
            <div class="col-4">
                <img class="produto-jogo" src="https://images-americanas.b2w.io/produtos/4258574010/imagens/jogo-fifa-22-xbox-one/4258574010_1_large.jpg" alt="">
                <p>Fifa 22 para Xbox one </p>
                <h2>R$ 299,99</h2>
            </div>
            <div class="col-4">
                <img class="produto-jogo" src="https://images-americanas.b2w.io/produtos/4258574010/imagens/jogo-fifa-22-xbox-one/4258574010_1_large.jpg" alt="">
                <p>Fifa 22 para Xbox one </p>
                <h2>R$ 299,99</h2>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <h2>Jogos em promoção</h2>
        <div class="row">
            <div class="col-3">
                <img class="produto-jogo" src="https://http2.mlstatic.com/D_NQ_NP_748494-MLB48109281779_112021-O.webp" alt="">
                <p>Call of Duty Vanguard para PS5</p>
                <h2>R$ 399,99</h2>
            </div>
            <div class="col-3">
                <img class="produto-jogo" src="https://http2.mlstatic.com/D_NQ_NP_748494-MLB48109281779_112021-O.webp" alt="">
                <p>Call of Duty Vanguard para PS5</p>
                <h2>R$ 399,99</h2>
            </div>
            <div class="col-3">
                <img class="produto-jogo" src="https://http2.mlstatic.com/D_NQ_NP_748494-MLB48109281779_112021-O.webp" alt="">
                <p>Call of Duty Vanguard para PS5</p>
                <h2>R$ 399,99</h2>
            </div>
            <div class="col-3">
                <img class="produto-jogo" src="https://http2.mlstatic.com/D_NQ_NP_748494-MLB48109281779_112021-O.webp" alt="">
                <p>Call of Duty Vanguard para PS5</p>
                <h2>R$ 399,99</h2>
            </div>
        </div>
    </div>
</section>